.container {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: flex-start;
}
.testContainer {
  align-self: flex-start;
}
.profileContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.profileUserName {
  font-size: 3.2rem;
  font-weight: 300;
}

.profileImage {
  padding: 0 3rem;
}

.profileImage img {
  border-radius: 50%;
}

.profileUserSetting {
  word-wrap: normal;
  margin-top: 1.1rem;
}

.links {
  margin: 1rem auto;
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
  width: 100%;
}

.links a {
  width: 48px;
  height: 48px;
  transition: opacity 200ms ease;
}

.links a:hover {
  opacity: 0.6;
}

.carrierContainer {
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}
.title {
  padding: 0 20px;
}
.table {
  width: 60vw;
  border-collapse: collapse;
  border-spacing: 0;
}

.table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.table tr:hover {
  background-color: #d4f0fd;
}

.table th,
.table td {
  text-align: start;
  padding: 30px 20px;
}
