.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}
.layout divã€€ {
  max-width: 98%;
  width: 80%;
}

.layout h1,
.layout h2 {
  text-align: center;
}
.siteTitle {
  font-size: 3rem;
  font-family: var(--font-mono);
  color: #333;
}
